body{
    background-color: rgba(95, 158, 160, 0.274);
}
form{
    border: 5px solid black;
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: rgba(255, 248, 220, 0.356);
    border-radius: 20px;
    padding-left: 10px;
}
h1, h3{
    text-align: center;
    text-decoration: underline;
}
button{
    background-color: rgba(0, 0, 139, 0.308);
}

